API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
SESSION_STRING=your_assistant_session_string
OWNER_ID=your_telegram_user_id
MONGO_URL=your_mongodb_connection_string
LOG_GROUP_ID=-100xxxxxxxxxx
BASE_URL=https://api.babiesiq.tech
API_KEY=your_babyapi_key
STORAGE_DIR=/root/vps_songs
DURATION_LIMIT=18000
QUEUE_LIMIT=30
